*.qmlc
.qmlls.ini

__pycache__/
*.pyc
.venv/

data/config.json
data/apps.json
data/secrets.json
data/credentials.json

piixgate/
qml/smarthome/
qml/lock/
qml/components/PasswordCard.qml
scripts/bash/setup-piixgate
scripts/bash/lockscreen-hide-windows
scripts/bash/we-lockscreen-mode
scripts/bash/check-password
scripts/python/greetd-login

ext/matugen/templates/*.generated

.idea/
.DS_Store
ext/omp/skwd.omp.json
